main {
    margin-inline: 20%;
}

.form-group {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    width: 600px;
    margin: 5vh;
    padding: 5vh;
    border-radius: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 25vh;
}




.group-1 {
    display: flex;
    width: 600px;
}

    .info-field {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        width: 100%;
        margin-top: 1vh;
        
        
        
    }

        .field {
            width: 90%;
            margin: 1.8vh;   
        }

        .seatbar {
            display: flex;
            width: 250px;
            margin: 1vh;
        }

            .seatpic {
                width: 50px;
            }
        
        .choices-bar {
            display: flex;
            margin-bottom: 1.2vh;
        }

            .choices-text {
                margin: 2vh;
            }



    .name-field {
        width: 500px;
    }

        .text-sub {
            margin-block: 2vh;
            padding: 2vh;
        }

    
.group-2 {
    display: flex;
    justify-content: right;
    margin-top: 5vh;
}

    .sub-button {
        width: 150px;
        height: 40px;
    }

    
    
    
    
    
    @media (max-width:768px) {

        main {
            margin-inline: 1%;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            background-color: #F0F0F0;
            width: 370px;
            height: 400px;
            margin: 2vh;
            padding: 0vh;
            border-radius: 1%;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 25vh;
        }
        
        form {
            padding: 0vh;
            margin: 0vh;
        }
        
        
        .group-1 {
            display: flex;
            width: 350px;
        }
        
            .info-field {
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                width: 50%;
                margin-top: 1vh;
                
                
                
            }
        
                .field {
                    width: 50%;
                    margin: 1vh;   
                }
        
                .seatbar {
                    display: flex;
                    width: 60px;
                    margin: 1vh;
                }
        
                    .seatpic {
                        width: 30px;
                        margin-bottom: 1vh;
                    }
                
                .choices-bar {
                    display: flex;
                    margin-bottom: 2vh;
                }
        
                    .choices-text {
                        margin: 0vh;
                    }
        
        
        
            .name-field {
                width: 200px;
            }
        
                .text-sub {
                    margin-block: 2vh;
                    padding: 1vh;
                }
        
            
        .group-2 {
            display: flex;
            justify-content: right;
            margin-top: 5vh;
        }
        
            .sub-button {
                width: 150px;
                height: 40px;
            }
    
    }
