main {
    margin-inline: 20%;
}

.form-group {
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    width: 600px;
    margin: 5vh;
    padding: 5vh;
    border-radius: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 25vh;
}




.group-1 {
    display: flex;
    width: 600px;
}

    .info-field {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        width: 100%;
        height: 500px;
        margin-top: 1.0vh; 
    }

        .field {
            width: 90%;
        }

        #sieges-container {
            display: flex;
            width: auto; /* Ajustez la largeur selon vos besoins */
            flex-wrap: wrap; /* Permet aux sièges de passer à la ligne si nécessaire */

        }
        
        .siege {
            width: 40px;
        }


    .name-field {
        width: 500px;
        height: 445px;
    }

        .text-sub {
            margin-block: 2.9vh;
            padding: 2vh;
        }

    
.group-2 {
    display: flex;
    justify-content: right;
    margin-top: 5vh;
}

    .sub-button {
        width: 150px;
        height: 50px;
        display: inline-block;
        padding: 10px 20px;
        margin-left: 0px;
        border: none; 
        background-color: #e0e0e0; 
        color: #333; 
        text-align: center; 
        text-decoration: none; 
        font-size: 16px; 
        font-family: sans-serif; 
        cursor: pointer; 
        border-radius: 5px; 
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    }

.succes-trajet {
    background-color: #d4edda;
    color: #155724; 
    border: 1px solid #c3e6cb; 
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

    
    
    
    
    
    @media (max-width:768px) {

        main {
            margin-inline: 0%;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            background-color: #F0F0F0;
            width: 95%;
            height: 500px;
            margin: 1vh;
            padding: 0vh;
            border-radius: 1%;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 25vh;
        }
        
            form {
                padding: 0vh;
                margin: 0vh;
            }
            
            
            .group-1 {
                width: 350px;
                height: 400px;
            }
            
                .info-field {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-top: 2vh;
                    width: 170px;
                    height: 330px;
                    padding: 0vh;
                    margin: 0vh;
                    
                    
                    
                }
            
                    .field {
                        width: 80%;
                        height: 25px;
                        padding: 0vh;
                        margin: 0vh;
                    }
            
                    #sieges-container {
                        display: flex;
                        width: auto; /* Ajustez la largeur selon vos besoins */
                        height: 35px;
                        flex-wrap: wrap; /* Permet aux sièges de passer à la ligne si nécessaire */
                        margin: 0vh;
                    }
                    
                    .siege {
                        width: 30px;
                        height: 40px;
                        padding: 0vh;
                        margin: 0vh;
                    }
                    
                    .gris {
                        /* Styles spécifiques aux sièges gris (si nécessaire) */
                    }
                    
                    .noir {
                        /* Styles spécifiques aux sièges noirs (si nécessaire) */
                    }


                    
                    .choices-bar {
                        display: flex;
                        align-items: center;
                        height: 50px;
                        padding: 0vh;
                        margin: 0vh;
                    }
            
                        .choices-text {
                            margin-inline: 1vh;
                            margin-block: 0vh;
                        }
            
            
            
                .name-field {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 170px;
                    height: 330px;
                    margin-left: 1vh;
                }
            
                    .text-sub {
                        display: flex;
                        align-items: center;
                        height: 50px;
                        padding: 0vh;
                        margin: 0vh;
                    }
            
                
            .group-2 {
                display: flex;
                justify-content: right;
                margin-top: 5vh;
                width: 330px;
            }
            
                .sub-button {
                    width: 150px;
                    height: 40px;
                }
        
        }